<header>Add New State</header><br>

<div class="container">
  
  <form #frm="ngForm" (ngSubmit)="onSubmit(frm.value)">
    <label for="stateName">State Name::</label>
    <input type="text" name="stateName" class="form-control" value="stateName" #stateName="ngModel" required ngModel [(ngModel)]="statename1">

    <!--<input type="text" id="stname" name="statename" placeholder="State Name.."><br>-->

    <input type="hidden" name="_id" class="form-control" #_id="ngModel" ngModel [(ngModel)]="id">

    <button type="submit" [disabled]="!frm.valid" class="btn btn-primary" >Save</button>
    
    <button type="button" class="btn btn-primary">Cancel</button>
  </form>

</div>