
label{
    font-size: 40px;
}

.sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar div{
        font-size: 35px;
  }

  .sidebar label,a{
      font-size: 25px;
      
  }
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .container-fluid{
      margin-left: 15%;
  }
